body {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    font-size: 3.3vw;
    gap: 15px;
    margin: 0;
    padding: 0;

    --buttonWidth: 500px;
    --buttonHeight: calc(0.18*var(--buttonWidth));
    --font: 3.3vw;

}

form {
    display: flex;
    flex-direction: row;
    margin: 25px;
    width: 550px;
    height: 200px;
    align-items: center;
    flex-wrap: wrap;
    gap: calc(0.001 * var(--buttonWidth));
}

button {
    position: relative;
    align-self: center;
    background-color: rgba(255, 99, 72, 0.9);
    color: white;
    border: none;
    font: 900 calc(0.3*var(--font)) Verdana, Geneva, Tahoma, sans-serif;
    top: -10%;
    right: -30%;
    width: calc(0.30*var(--buttonWidth));
    height: calc(0.35*var(--buttonHeight));
    border-radius: 50px;
}

button:hover {
    cursor: pointer;
}

.form-field {
    position: relative;
    top: -3%;
    width: 200px;
}

.form-field::before {
    visibility: visible;
    display: inline-block;
    position: absolute;
    padding: 1px;
    width: 200px;
    height: 22px;
    top: -10px;
    z-index: 1;
    background: rgba(0, 0, 0, 255);
    box-shadow: calc(0.03*var(--buttonHeight)) calc(0.02*var(--buttonHeight)) calc(0.05*var(--buttonHeight)) calc(0.01*var(--buttonHeight)) rgba(63, 62, 62, 0.75);
    content: attr(data-hint);
    font: calc(0.28 * var(--font)) Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;

}

.form-field::after {
    visibility: visible;
    display: inline-block;
    position: absolute;
    content: ".";
    background: rgba(0, 0, 0, 255);
    box-shadow: 3px 2px 5px 1px rgba(63, 62, 62, 0.75);
    color: white;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    z-index: 0;
    top: -4px;
    right: 150px;
    font-size: 1px;
}

label {
    font: 500 calc(0.5 * var(--font)) Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

input {
    border: none;
    border-bottom: 1px solid black;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font: calc(0.5 * var(--font)) Verdana, Geneva, Tahoma, sans-serif;
    width: 270px;
}

input:focus {
    outline: none;
}