*{
    padding: 10px;
}

form{
    font-family: Arial, Helvetica, sans-serif;
}

label{
    width: 100px;
}

input {
    position: relative;
    left: 15px;
    top:-29px;
    border: none;
    padding: 0;
    border-bottom: 1px solid black;
    width: 120px;
    font-size: medium;
}

input:focus {
    outline: none;
    
}

button {
    position: relative; 
    left: 80px; 
    top:-30px;
    color: white;
    background-color: rgba(211, 88, 67, 0.9);
    border: none;
    color: white;
    border-radius: 40px;
    width: 100px;
    height: 20px;
    padding: 0;
}



.form-field::before {
    visibility: visible;
    position: relative;
    padding: 3px;
    width: 75px;
    height: 10px;
    z-index: -1;
    top: -55px;
    left: 120px;
    font-size: 0.5rem;
    background: black;
    box-shadow: 0px 2px 3px 0px  rgba(63, 63, 63, 0.75);
    content: attr(data-hint);
    text-align: center;
    color: white;

}